@import "../../../commotStyles.scss";

@mixin commonBlockStyle {
    width: 100%;
    max-width: 320px;
    margin-bottom: 30px;   
    label{
        font-size: 16px;
        text-align: left;
    }
    input{
        padding: 5px;
        font-size: 16px;
    }
    p{
        text-align: left;
        top: 65px !important;
        font-size: 13px;
    }
}

@mixin twoFieldForFill{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    >div{
        justify-self: center;
        flex-shrink: 0;
        width: 240px;
        margin-bottom: 40px;
    }
    .wrongDataMessage{
        grid-column: 1/3;
        justify-self: center;
        width: 70%;
        align-self: center;
        margin-top: 10px;
        font-size: 16px;
    }    
}

.changeNameBlock,
.changeNickNameBlock, 
.changeEmailBlock,
.changePasswordBlock,
.deleteProfile{
    @include commonBlockStyle;
    margin-bottom: 0;
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
    .wrongDataMessage{
        @include worngDataMessage;
        width: 100%;
        margin: 0; 
    }
    .showWrongDataMessage{
        opacity: 1;
    }
    >div{
        @include commonBlockStyle;
    }
    >button{
        @include blackBtn;
        margin-top: 25px;
    }
}

.changeEmailBlock{
    @include twoFieldForFill;
}
.changePasswordBlock{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 100%;
    justify-items: center;
    padding: 10px 15px;
    box-sizing: border-box;
    >div{
        text-align: center;
        max-width: 240px;
        margin-bottom: 50px;
    }
    .wrongDataMessage{
        align-self: center;
        font-size: 16px;
    }
}
.deleteProfile{
    @include twoFieldForFill;
}

@media (max-width: 1024px){
    .changeEmailBlock,
    .changePasswordBlock,
    .deleteProfile{
        display: flex;
        flex-direction: column;
        align-items: center;
        >div {
            width: 100%;
            max-width: 100%;
            margin-bottom: 50px;
        }
    }
}